$white         : #FEFEFE !default;
$vapor         : #F6F6F6 !default;

$silver        : #EFEFEF !default;
$smoke         : #EEEEEE !default;
$gainsboro     : #DDDDDD !default;

$aluminum      : #999999 !default;

$charcoal      : #555555 !default;
$tuatara       : #444444 !default;
$oil           : #333333 !default;
$jet           : #222222 !default;
$ebony         : #111111 !default;
$black         : #000000 !default;

$aqua-sky: #50D0E3 !default;
$aqua: #50E3C2 !default;
$peach: #F9A667 !default;

$blood-orange: #B1530C !default;

$base-border: solid 1px $black;
$strong-border: solid 2px $black;

